VITE_SUPABASE_URL=https://bgtbmqvtspslfikdxvop.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJndGJtcXZ0c3BzbGZpa2R4dm9wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyMTIyNjUsImV4cCI6MjEwMjc4ODI2NX0.60yLvwi6GbDNcrS5b86PzeWJah4wnvgpYdKiwpQcZ24
VITE_ADMIN_PASSWORD=PASSPRUEBA
